__pycache__/
*.py[co]
*.mo
.DS_Store
.env
.eggs
.egg-info
dist
build
.tox
.nox
.coverage
.cache
nosetests.xml
coverage.xml
*.egg
local_settings.py
db.sqlite3
db.sqlite3-journal
instance
.mypy_cache
.pytest_cache

public/build
public/node_modules
